html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  flex-grow: 1;
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
